.__type_head {
  width: 100%;
  position: relative;

  .__input {
    width: 100%;
    border: 1px solid rgba(#000000, 0.4);
    border-radius: 24px;
    font-size: 14px;
    position: relative;
    padding: 2px;
    min-height: 31px;

    &.__single {
      padding: 0;
      .__tags {
        input {
          height: 30px;
          padding: 0 12px 2px 12px;
        }
      }
    }

    &.__multiple {
      .__tags {
        display: inline-block;
      width: auto;
      }
    }

    .__tags {
      position: relative;

      &.__null {
        &:after {
          content: attr(placeholder);
          position: absolute;
          top: 50%;
          left: 10px;
          transform: translateY(-50%);
          white-space: nowrap;
        }
      }
      

      > span {
        display: inline-block;
        padding: 4px 8px;
        border-radius: 24px;
        background: rgba(#000000, 0.1);
        margin-right: 3px;
        vertical-align: middle;

        span {
          cursor: pointer;
        }
      }

      .empty {
        background: transparent;
        padding: 4px 0;
        width: 8px;
      }

      input {
        display: inline-block;
        width: 4px;
        border: none;
        outline: none;
        background: transparent;
        height: 17px;
        font-size: 14px;
        vertical-align: middle;
        padding-bottom: 2px;
      }
    }

    .__hidden {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      display: inline-block;
      width: auto;
      min-width: 8px;
    }
  }

  &.__show_suggestions {
    .__suggestions {
      opacity: 1;
      visibility: visible;
    }
    
    .__overlay {
      display: block;
    }
  }

  .__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: none;
  }

  .__suggestions {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 1px 1px 5px rgba(#000000, 0.1);
    border-radius: 2px;
    padding: 3px 0;
    transition: all 0.2s linear;
    max-height: 300px;
    overflow-y: scroll;

    li {
      display: block;
      padding: 8px 12px;
      font-size: 10px;
      cursor: pointer;
      transition: all 0.3s linear;

      .__title {
        font-size: 12px;
        margin-bottom: 4px;

        span {
          color: rgba(#000000, 0.9);
          font-weight: 900;
        }
      }

      &:hover, &.__active {
        background-color: #D9E7F3;
      }
    }
  }
}